<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers" href="">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" >Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <ul class="navbar navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span *ngIf="securityService.profile; else loginTemplate">
              {{securityService.profile.firstName}}
              <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="onLogout()"  >Logout</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Other</a></li>
          </ul>
            </span>
            <ng-template #loginTemplate>
              <button class="btn btn-success" (click)="login()">Login</button>
            </ng-template>
          </a>

        </li>
      </ul>

    </div>
  </div>
</nav>
<router-outlet>

</router-outlet>
